body {
    background-image: url('https://cdn.pixabay.com/photo/2016/05/16/13/03/football-field-1395607_1280.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Ou outra cor, conforme desejado */
    opacity: 0.7; /* Ajuste o valor da opacidade conforme necessário */
    z-index: -1;
}

header {
    display:inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

#title{
    flex-direction: column;
    line-height: 10px;
    

}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}


#whatsapp-btn{
    border: 2px solid #25D366;
    padding: 10px;
    border-radius: 15px;
    margin-left: 250px;
}


#whatsapp-btn:hover{
    background-color: #25D366;
    color: white;
}

h1{
    font-weight: 200;
    
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

h2{
    font-size: 30px;
    line-height: 30px;
    font-family: poppinsmedium;
    margin-top: 01px;
    margin-bottom: 01px;

}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    margin-top: 05px;
    margin-bottom: 05px;
}

img{
    width: 580px;
    margin-left: 10px;
}

#capsjc{
    width: 180px;
    
}


form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}

input{
    margin-top: 01px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    
}

form [type="submit"]{
    height: 50px;
    width: 40%;
    background-color:#25D366;
    color: white;
    font-weight: bold;
    margin-top: 01px;
    font-family: poppinslight;
}

form [type="submit"]:hover{
    cursor: pointer;
}
